<h1><%= @restaurant.name%></h1>

Tel: <%= @restaurant.tel%><br>
Opening Hours: <%= @restaurant.opening_hours %><br>
Address: <%= @restaurant.address %><br>
Description: <%= @restaurant.description %><br>
<br>

<%= link_to 'Back to index', admin_restaurants_path %>
