<ul class="nav nav-tabs">
  <li role="presentation" class="<%= "active" if @categories %>"><%= link_to 'Home',root_path %></li>
  <li role="presentation"><%= link_to 'Latest Status',feeds_restaurants_path %></li>
</ul>
<br>

<div class="container">
  <div class="row">
    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation" class="<%= "active" if @categories %>">
        <%= link_to 'All', root_path%>
      </li>
      <% @categories.each do |category| %>
        <li role="presentation"><%= link_to category.name, category_path(category)%></li>
      <% end %>
    </ul>
    <br>
    <%= render partial: "shared/restaurant_list"%>
  </div>
</div>
