<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to 'Home',root_path %></li>
        <li role="presentation"><%= link_to 'Latest Status',feeds_restaurants_path %></li>
        <li role="presentation" class="<%= "active" if @restaurants%>"><%= link_to 'Top 10 Restaurants',ranking_restaurants_path %></li>
        <li role="presentation"><%= link_to 'Foodies',users_path %></li>
      </ul>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div calss="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>Top 10 Restaurants <small>(most favorites)</small></h1>
      </div>

      <div class="ranking-item">
      <% @restaurants.each do |restaurant| %>
        <div class="col-md-3">
          <% for img_id in 1..10 %>
            <% if image_path(restaurant.image).include?('/model'+img_id.to_s+'.jpg') %>
              <%= image_tag('/img/model'+img_id.to_s+'.jpg', class: "img-responsive center-block")%>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-9">
          <h4><%= link_to restaurant.name, restaurant_path(restaurant)%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= render partial: 'shared/favorite', locals: { restaurant: restaurant } %><span>(Favored by <%= restaurant.favorites_count %> people)</span></h4>
          <p class="label label-default"><%= restaurant.category.name %></p>
          <p><%= truncate(restaurant.description, length: 200) %></p>
          <hr>
          <div class="clearfix"></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
